.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 10px 10px 10px grey;
}
.note{
    font-size: 17px;
    color: black;
    font-weight: bold;
    
}
.copy_right_footer{
    position: fixed;
    color: white;
    bottom: 0px;
    width: 100%;
    background-color: gray;
    line-height: 3;
    text-align: center;
    font-size: 20px;
}
canvas{
    border-radius: 20px;
    border: 5px solid white;
    box-shadow: 5px 5px 5px gold;
}

.h3{
    background-color: cadetblue;
}

body {
    background-color: bisque;
}